@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 375px) {
  .zigzag:nth-child(even) {
    flex-direction: column;
  }
}

@media only screen and (min-width: 945px) {
  .zigzag:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.highlight {
  background: linear-gradient(to bottom, transparent 50%, #dac0a3);
  width: fit-content;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}
input:invalid[focused="true"] ~ span {
  display: block;
}

.heroAnimate {
  animation: heroAnimate 6s ease-in-out infinite 1s;
}
@keyframes heroAnimate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@layer utilities {
  .black-text-gradient {
    @apply bg-gradient-to-t from-black to-white inline-block text-transparent bg-clip-text;
  }

  .header {
    @apply uppercase font-semibold text-2xl mx-auto mb-10;
  }

  .sectionPadding {
    @apply px-8 py-6;
  }
}
