@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.zigzag:nth-child(even) {
  flex-direction: row-reverse;
}

.highlight {
  background: linear-gradient(to bottom, transparent 50%, #ff6584);
  width: fit-content;
}

@layer utilities {
  .black-text-gradient {
    @apply bg-gradient-to-t from-black to-white inline-block text-transparent bg-clip-text;
  }

  .header {
    @apply uppercase font-semibold text-2xl mx-auto mb-10;
  }

  .sectionPadding {
    @apply px-8 py-4;
  }
}
